## Tasks

Task 1: Store your Bio data (Name, roll number, age, date of birth and Gender) in the
variables.

Task 2: Write a program to convert $ dollar into Pakistani Rupees.

Task3: Take two number from user and then Calculate these manipulations sum,
subtract, multiple and division

Task4: Please draw these diagrams.
************************
*                      *
*                      *
*                      *
*                      *
************************

Task 5: take two number from user and divide them and display them without floating
point.

Task 6: Take the value from user in Celsius and covert into Fahrenheit.

Task 7: find the slope x1=5, x2=10
Where y1=3, y2=5 , b will be enter from user
(m=y2-y1/x2-x1)

Task 8: Enter your height in feet and centimetres then system will display in meters

Task9: Enter your matriculation marks subject wise and the system will display total marks
and percentage of all also display subject wise percentage

## Task 1

In [1]:
Name = input("Enter Your Name: ")
Roll_Number = input("Enter Your Roll Number: ")
Age = int(input("Enter Your Age: "))
Date_Of_Birth = input("Enter Your Date Of Birth: ")
Gender = input("Enter Your Gender: ")

Enter Your Name: Awais
Enter Your Roll Number: AI22_C2_16
Enter Your Age: 19
Enter Your Date Of Birth: 03/04/2002
Enter Your Gender: Male

## Task 2

In [2]:
dollars = float(input("Enter Value In Dollars: "))
pkr = float(dollars*178.91)
print("The Value In Pakistani Rupees Is {:.2f}".format(pkr))

Enter Value In Dollars: 899
The Value In Pakistani Rupees Is 160840.09

## Task 3

In [3]:
num1 = int(input("Enter First Number: "))
num2 = int(input("Enter Second Number: "))

summ = num1 + num2
mul = num1 * num2
sub = num1 - num2
div = num1/num2

print("The Sum Is:", sum)
print("The Multiplied Answer Is:", mul)
print("The Subtracted Answer Is:", sub)
print("The Division Is: {:.2f}".format(div))

Enter First Number: 7
Enter Second Number: 3
The Sum Is: <built-in function sum>
The Multiplied Answer Is: 21
The Subtracted Answer Is: 4
The Division Is: 2.33

## Task 4

In [4]:
print('''
      ************************
      *                      *
      *                      *
      *                      *
      *                      *
      ************************''')

      ************************
      *                      *
      *                      *
      *                      *
      *                      *
      ************************

## Task 5

In [5]:
fl1 = int(input("Enter First Value: "))
fl2 = int(input("Enter Second Value: "))

fl = int(fl1/fl2)
print("The Value Without Floating Point Is:",fl)

Enter First Value: 7
Enter Second Value: 3
The Value Without Floating Point Is: 2

## Task 6

In [6]:
celcius = float(input("Enter Temperature in Celcius "))
farenhite = (celcius * 1.8) + 32
print("The Temperature in Farenhite Is: ", farenhite)

Enter Temperature in Celcius 23
The Temperature in Farenhite Is:  73.4

## Task 7

In [7]:
x1 = 5
x2 = 10
y1 = 3
y2 = 5

slope = (y2 - y1)/(x2 - x1)
print(slope)

The Slope Is 0.40

## Task 8

In [8]:
feet = int(input("Enter Feets: "))
inches = int(input("Enter Inches: "))

feet = feet + ( inches / 12 )
meters = feet / 3.281

print("The Value In Meters Is: {:.2f}".format(meters))

Enter Feets: 5
Enter Inches: 10
The Value In Meters Is: 1.78

## Task 9

In [1]:
Math = int(input("Enter Maths Marks: "))
Physics = int(input("Enter Physics Marks: "))
Chemistry = int(input("Enter Chemistry Marks: "))
English = int(input("Enter English Marks: "))
Urdu = int(input("Enter Urdu Marks: "))
Islamiyat = int(input("Enter Islamiyat Marks: "))

total_marks = 470
obtained = Math + Physics + Chemistry + English + Urdu + Islamiyat

percentage = (obtained/total_marks)*100

print()
print("The Total Obtained Is: ", obtained)
print()
print("The Percentage Is: {:.2f}".format(percentage))
print()
print("The English Percentage Is {:.2f}".format((English/100)*100))
print("The Maths Percentage Is {:.2f}".format((Math/100)*100))
print("The Physics Percentage Is {:.2f}".format((Physics/60)*100))
print("The Chjemistry Percentage Is {:.2f}".format((Chemistry/60)*100))
print("The Islamiyat Percentage Is {:.2f}".format((Islamiyat/50)*100))
print("The Urdu Percentage Is {:.2f}".format((Urdu/100)*100))

Enter Maths Marks: 54
Enter Physics Marks: 84
Enter Chemistry Marks: 25
Enter English Marks: 75
Enter Urdu Marks: 41
Enter Islamiyat Marks: 45

The Total Obtained Is:  324

The Percentage Is: 68.94

The English Percentage Is 75.00
The Maths Percentage Is 54.00
The Physics Percentage Is 140.00
The Chjemistry Percentage Is 41.67
The Islamiyat Percentage Is 90.00
The Urdu Percentage Is 41.00